/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  -moz-osx-fontsmoothing: grayscale;
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

div {
  border: 1px solid white;
}

h1 {
  font-size: 8vh;
}

h2 {
  font-size: 6vh;
}

h3 {
  font-size: 4vh;
}

h4 {
  font-size: 3vh;
}

.backgroundVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -1;
  filter: brightness(70%);
}

body {
  font-family: roboto;
  color: white;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}

main {
  display: flex;
}

main .leftLine {
  width: 200px;
  height: 60vh;
}

main .leftLine .clock {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .leftLine .weather {
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .leftLine .dDay {
  margin: 1vh;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .leftLine .dDay h3 {
  margin-top: 1vh;
  font-weight: bold;
}

main .middleLine {
  flex-grow: 1;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .middleLine .circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main .middleLine .countDown {
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 900;
}

main .rightLine {
  width: 200px;
  height: 60vh;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: lefts;
  padding: 5vh;
}

footer .footerTitle {
  display: flex;
  align-items: center;
}

footer .footerTitle .soundIcon {
  margin-left: 1vh;
  height: 5vh;
  width: 5vh;
}

footer .thumbnails {
  display: flex;
  justify-content: space-between;
}

footer .thumbnails .thumbnail {
  width: 12vw;
  height: 10vh;
}
/*# sourceMappingURL=style.css.map */