@import "_reset";
@import "_clock";

//for test
div {
  // border: 1px solid white;
}

//for font size
h1 {
  font-size: 8vh;
}

h2 {
  font-size: 6vh;
}

h3 {
  font-size: 4vh;
}

h4 {
  font-size: 1em;
}

//base
@mixin column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin widget-style {
  height: 15vh;
  border-radius: 2vh;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 2vh;
  color: white;
}

@mixin footer_style {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 2vh;
  display: flex;
  flex-direction: column;
  align-items: lefts;
  padding: 2vh;
  width: 95vw;
}

@mixin input {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 1vh;
  height: 3vh;
  width: 20vh;
  padding: 0 2vh;
  margin-bottom: 2vh;
}

@mixin studyGoal {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 2vh;
  display: flex;
  flex-direction: column;
  align-items: lefts;
  padding: 2vh;
  // height: 50vh;
}

//left and right side width
$side-width: 30vh;

// for login form
.loginForm {
  height: 90vh;
  @include column-center();
  .loginInput {
    margin: 5vh;
  }
}

//video

.welcomeVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -1;
  filter: brightness(70%);
}

.backgroundVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -1;
  filter: brightness(70%);
}

//font-family
body {
  font-family: roboto;
  color: white;
  font-weight: 900;
}

//header
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;

  .hiUser {
  }

  .codeWithMe {
  }
}

main {
  display: flex;

  .leftLine {
    width: $side-width;
    height: 60vh;

    .clock {
      @include column-center();
      @include widget-style();
    }

    .weather {
      @include column-center();
      @include widget-style();
    }

    .dDay {
      @include column-center();
      @include widget-style() h3 {
        margin-top: 1vh;
        font-weight: bold;
      }
    }
  }

  .middleLine {
    flex-grow: 1;
    height: 60vh;
    @include column-center();

    .circle {
      @include column-center();
    }

    .countDown {
      height: 10vh;
      @include column-center();
      font-weight: 900;
    }
  }

  .rightLine {
    width: $side-width;
    height: 60vh;
    //studyGoal

    .studyGoal {
      @include studyGoal() h4 {
        margin: 1vh 0;
      }

      input {
        @include input;
      }
      input::placeholder {
        color: black;
      }

      li {
        margin: 0.5vh 0;

        button {
          // display: flex;
          // flex-direction: column;
          // align-items: center;
          padding: 0.5vh 1vh;

          margin-left: 1vh;
          font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
          border-radius: 6px;
          color: #3d3d3d;
          background: #fff;
          border: none;
          box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
          user-select: none;
          -webkit-user-select: none;
          touch-action: manipulation;

          button:focus {
            box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1),
              0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
            outline: 0;
          }
        }
      }
    }
  }
}

footer {
  @include column-center();
  .footerBackground {
    @include footer_style .footerTitle {
      display: flex;
      align-items: center;
      font-weight: 900;

      .soundIcon {
        @include column-center();
        margin-left: 1vh;
        height: 5vh;
        width: 5vh;
        // background-color: #fff;
      }
    }

    .thumbnails {
      display: flex;
      justify-content: space-between;

      .thumbnail {
        width: 12vw;
        height: 10vh;
        object-fit: cover;
        border-radius: 1em;
      }
      // }
    }
  }
}

// for hidden
.hidden {
  display: none;
}
