@import "_reset";
@import "_clock";

// for hidden
.hidden {
  display: none;
}

//for test
div {
  border: 1px solid white;
}

//for font size
h1 {
  font-size: 8vh;
}

h2 {
  font-size: 6vh;
}

h3 {
  font-size: 4vh;
}

h4 {
  font-size: 1em;
}

//base
@mixin column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
//left and right side width
$side-width: 200px;

//video
.backgroundVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -1;
  filter: brightness(70%);
}

//font-family
body {
  font-family: roboto;
  color: white;
  font-weight: 900;
}

//header
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;

  .hiUser {
  }

  .codeWithMe {
  }
}

main {
  display: flex;

  .leftLine {
    width: $side-width;
    height: 60vh;

    .clock {
      height: 20vh;
      @include column-center();
    }

    .weather {
      height: 20vh;
      @include column-center();
    }

    .dDay {
      margin: 1vh;
      height: 20vh;
      @include column-center();

      h3 {
        margin-top: 1vh;
        font-weight: bold;
      }
    }
  }

  .middleLine {
    flex-grow: 1;
    height: 60vh;
    @include column-center();

    .circle {
      @include column-center();
    }

    .countDown {
      height: 10vh;
      @include column-center();
      font-weight: 900;
    }
  }

  .rightLine {
    width: $side-width;
    height: 60vh;
    //studyGoal
    h4 {
      margin: 1vh 0;
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: lefts;
  padding: 5vh;

  .footerTitle {
    display: flex;
    align-items: center;
    font-weight: 900;

    .soundIcon {
      margin-left: 1vh;
      height: 5vh;
      width: 5vh;
    }
  }

  .thumbnails {
    display: flex;
    justify-content: space-between;

    .thumbnail {
      width: 12vw;
      height: 10vh;
      object-fit: cover;
      border-radius: 1em;
    }
    // }
  }
}
