@import "_reset";
@import "_clock";

//for test
div {
  border: 1px solid white;
}

//for font size

h1 {
  font-size: 8vh;
  color: white;
}

h2 {
  font-size: 6vh;
  color: white;
}

h3 {
  font-size: 4vh;
  color: white;
}

h4 {
  font-size: 2vh;
  color: white;
}

h5 {
  color: white;
}

//base
@mixin column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

$side-width: 200px;

//video
.backgroundVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  transform: translateX(calc((100% - 100vw) / 2));
  z-index: -1;
  filter: brightness(70%);
}

//font-family
body {
  font-family: roboto;
}

//header
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
  // background-color: purple;

  //code_with_me
  h2 {
    color: white;
    font-weight: 900;
  }

  //Hi_Kina
  h3 {
    color: white;
  }
}

main {
  display: flex;

  .leftLine {
    width: $side-width;
    height: 60vh;
    // background-color: yellow;

    .clock {
      height: 20vh;
      @include column-center();
    }

    .weather {
      height: 20vh;
    }

    .dDay {
      margin: 1vh;
      height: 20vh;
      @include column-center();
      // background-color: aquamarine;

      h3 {
        margin-top: 1vh;
        font-weight: bold;
      }
    }
  }

  .middleLine {
    flex-grow: 1;
    height: 60vh;
    // background-color: orange;
    @include column-center();

    .circle {
      @include column-center();
    }

    .countDown {
      height: 10vh;
      @include column-center();
      font-weight: 900;
    }
  }

  .rightLine {
    width: $side-width;
    height: 60vh;
    // background-color: darkblue;
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: lefts;
  // background-color: green;

  padding: 5vh;

  .thumbnails {
    display: flex;
    // justify-content: space-around;
    justify-content: space-between;
    // justify-content: space-evenly;
    margin-top: 1vh;

    .thumbnail {
      width: 12vw;
      height: 10vh;
    }
  }
}
